<%- include("partials/header") %>

    <div class="ui grid centered container row" id="main4">
        <a href="/register" class="ui green button five wide column">Register</a>
    </div>
    <!-- <div class="ui grid centered container row" id="main4">
        <a href="/issue" class="ui blue button five wide column">Issue</a>
    </div> -->
    <!-- <div class="ui grid centered container row" id="main4">
        <a href="/return" class="ui blue button five wide column">Return</a>
    </div> -->
    <div class="ui grid centered container row" id="main4">
        <a href="/info" class="ui red button five wide column">Information</a>
    </div>
    <div class="ui grid centered container row" id="main4">
        <a href="/add_book" class="ui blue button five wide column">Add New Book</a>
    </div>


<%- include("partials/footer") %>